<section class="share-1">
    <i class="icon-share" class="fa-solid fa-share-nodes"></i>
    <h2 class="h2-share">Comparte</h2>
    <i class="icon-down" class="fa-regular fa-angle-down"></i>
    <i class="icon-up" class="fa-regular fa-angle-up"></i>
    <div class="container-button-share">
        <button class="button-share"><i class="fa-solid fa-address-card"></i> Crear tarjeta </button>
    </div>
</section>
<section class="share-2">
    <p class="p-share">La tarjeta ha sido creada:</p>
    <link class="link-share" rel="stylesheet" href="#">

    <form>
        <a class="link-twitter" href="#">
            <button class="button-twitter"><i class="fa-brands fa-twitter"></i>Compartir en twitter </button>

        </a>
    </form>
</section>