  <fieldset class="share1">
    <div class="share1__div">
  
      <div class="header-container">
        <i class="fa-solid share1__div--icon fa-share-nodes"></i>
        <h3 class="share1__div--h3">Comparte</h3>
      </div>
  
        <i class="share1__div--up fa-solid fa-chevron-up js-share-arrow"></i>
    </div>
    <div class="js-shareFieldset">
      <div class="share1__container">
        <button class="share1__container--button">
          <i class="fa-solid fa-address-card"></i> Crear tarjeta
        </button>
      </div>
        </fieldset>
        <fieldset class="share2">
      <p class="share2__p">La tarjeta ha sido creada:</p>
      <a class="share2__link" href="https://awesome-profile-card.com?id=A456DF0001"
        >https://awesome-profile-card.com?id=A456DF0001</a
      >
      <div>
        <a href="#">
          <button class="share2__button--twitter">
            <i class="fa-brands fa-twitter"></i>Compartir en twitter
          </button>
        </a>
      </div>
    </div>
  </fieldset>
