<section class="design">
  <div class="design__title">
    <i class="design__title--icon fa-regular fa-object-ungroup"></i>
    <h2 class="design__title--title">Diseña</h2>
  </div>
  <h3 class="design__color">Colores</h3>
  <div class="election">
    <div class="election__options">
    <label for="colors1"
      ><input
        id="colors1"
        type="radio"
        value="selectcolors"
        name="selectcolors"
      />
      <div class="rectangle-1">
        <div class="rectangle-1__a"></div>
        <div class="rectangle-1__b"></div>
        <div class="rectangle-1__c"></div>
      </div>
    </div>
    </label>
    <div class="election__options">
    <label for="colors2"
      ><input
        id="colors2"
        type="radio"
        value="selectcolors"
        name="selectcolors"
      />
      <div class="rectangle-2">
        <div class="rectangle-2__a"></div>
        <div class="rectangle-2__b"></div>
        <div class="rectangle-2__c"></div>
      </div>
    </div>
    </label>
    <div class="election__options">
    <label for="colors3"
      ><input
        id="colors3"
        type="radio"
        value="selectcolors"
        name="selectcolors" />
      <div class="rectangle-3">
        <div class="rectangle-3__a"></div>
        <div class="rectangle-3__b"></div>
        <div class="rectangle-3__c"></div></div
    ></label>
  </div>
</div>
</section>
