<section class="main__preview">
  <button class="button">
    <i class="fa-regular fa-trash-can"></i>
    <p class="button__reset">Reset</p>
  </button>
  <aside class="card">
    <div class="card__blueinfo">
      <p class="card__blueinfo--bluename js_previewName" id="name">Nombre apellido</p>
      <p class="card__blueinfo--bluejob js_previewJob" id="job">Front-end developer</p>
    </div>
    <img class="card__photo js_previewImg" id="profileImg" src="https://via.placeholder.com/240x200/200/fff.png
        " alt="Profile pic" />
    <ol class="rrss">
      <li class="rrss__bluelist">
        <a href="#" target="_blank" class="js_previewTel" id="tel">
          <i class="rrss__bluelist--blueitem fa-solid fa-mobile-screen fa-xl"></i>
        </a>
      </li>
      <li class="rrss__bluelist">
        <a href="#" target="_blank" class="js_previewEmail" id="email">
          <i class="rrss__bluelist--blueitem fa-regular fa-envelope fa-xl"></i>
        </a>
      </li>
      <li class="rrss__bluelist">
        <a href="#" target="_blank" class="js_previewLinkedin" id="LinkedIn">
          <i class="rrss__bluelist--blueitem fa-brands fa-linkedin-in fa-xl"></i>
        </a>
      </li>
      <li class="rrss__bluelist">
        <a href="#" target="_blank" class="js_previewGithub" id="github">
          <i class="rrss__bluelist--blueitem fa-brands fa-github-alt fa-xl"></i>
        </a>
      </li>
    </ol>
  </aside>
</section>