<section class="main__preview">
  <button class="button">
    <i class="fa-regular fa-trash-can"></i>
    <p class="button__reset">Reset</p>
  </button>
  <aside class="card">
    <div class="card__info blueinfo">
      <p class="card__info--name bluename js_previewName" id="name">Nombre apellido</p>
      <p class="card__info--job bluejob js_previewJob" id="job">Front-end developer</p>
    </div>
    <div class="card__photo  js__profile-image" id="profileImage"></div>
    <ol class="rrss">
      <li class="rrss__list bluelist">
        <a href="#" target="_blank" class="js_previewTel" id="tel">
          <i class="rrss__list--item blueitem fa-solid fa-mobile-screen fa-xl"></i>
        </a>
      </li>
      <li class="rrss__list bluelist">
        <a href="#" target="_blank" class="js_previewEmail" id="email">
          <i class="rrss__list--item blueitem fa-regular fa-envelope fa-xl"></i>
        </a>
      </li>
      <li class="rrss__list bluelist">
        <a href="#" target="_blank" class="js_previewLinkedin" id="LinkedIn">
          <i class="rrss__list--item blueitem fa-brands fa-linkedin-in fa-xl"></i>
        </a>
      </li>
      <li class="rrss__list bluelist">
        <a href="#" target="_blank" class="js_previewGithub" id="github">
          <i class="rrss__list--item blueitem fa-brands fa-github-alt fa-xl"></i>
        </a>
      </li>
    </ol>
  </aside>
</section>