<section class="preview">
    <div class="reset-button">
            <i class="fa-regular fa-trash-can"></i>
            <p>Reset</p>
    </div>
    <aside class="card">
        <div class="info">
            <p class="name">Nombre apelido</p>
            <p>Front-end developer</p>
        </div>
        <img class="pic" src="https://via.placeholder.com/240x200/200/fff.png
        " alt="Profile pic">
        <ol class="rrss-list">
            <li class="rrss-item">
                <a href="" >
                    <i class="fa-solid fa-mobile fa-xl"></i>
                </a>
            </li>
            <li class="rrss-item">
                <a href="">
                    <i class="fa-solid fa-envelope fa-xl"></i>
                </a>
            </li>
            <li class="rrss-item">
                <a href="">
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                </a>
            </li>
            <li class="rrss-item">
                <a href="">
                    <i class="fa-brands fa-github-alt fa-xl"></i>
                </a>
            </li>
        </ol>
    </aside>
</section>