<section class="fill">
  <div class="fill__title">
    <i class="fa-solid fa-keyboard"></i>
    <h3>rellena</h3>
  </div>

  <div class="fill__form">
    <form class="fill__form--item" action="#" method="post">
      <label for="name">
        nombre completo <span>*</span>
        <input
          placeholder="Ej: Sally Hill"
          id="name"
          type="text"
          name="name"
          required
        />
      </label>

      <label for="job"
        >puesto <span>*</span>
        <input
          placeholder="Ej: Front-end unicorn"
          id="name"
          type="text"
          name="name"
          required
        />
      </label>

      <label for="profileImg"
        >imagen de perfil <span>*</span>
        <input id="profileImg" type="text" name="profileImg" required />
      </label>

      <label for="email"
        >email <span>*</span>
        <input
          placeholder="Ej:sally-hill@gmail.com"
          id="email"
          type="email"
          value="Añadir Imagen"
          required
        />
      </label>

      <label for="telefone"
        >teléfono
        <input
          placeholder="Ej:555-55-55-55"
          id="telefone"
          type="tel"
          name="telefone"
        />
      </label>

      <label for="LinkedIn"
        >LinkedIn <span>*</span>
        <input
          placeholder="Ej: linkedin.com/in/sally.hill"
          id="LinkedIn"
          type="text"
          name="LinkedIn"
          required
        />
      </label>

      <label for="github"
        >Github <span>*</span>
        <input
          placeholder="Ej: @sally-hill"
          id="github"
          type="text"
          name="github"
          required
        />
      </label>
    </form>
  </div>
</section>
