.design {
    display: flex;
    flex-direction: column;
    font-family: $font-main;
    color: $color-font-preview;
    font-size: 14px;
    margin: 0px 20px 20px;
    border-bottom: 2px solid #d8d8d8;


    &__title {
        margin-top: 27px;
          color: $color-font;
          display: flex;
          flex-direction: row;
          gap: 10px;
          font-size: 18px;

          &--icon {
              color: $color-icon;
              font-size: 18px;
        }

          &--title {
        text-transform: uppercase;
          font-weight: bold;
          padding-bottom: 22px;
        
        }
        &--icon2 {
            justify-self: flex-end;

        }

        }
     &__color {
            text-transform: uppercase;
            font-size: 14px;
            padding: 22px 80px 0px 39px; 
        }
      }
      .color-palet {
        display: inline-flex;
        
    }  
    .election {
        margin-left: 183px;

        &__options {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 40px;
            margin-bottom: 20px;
        }
    }


    .rectangle-1{
        &__a{
            width: 30px;
            height: 25px;
            background-color: $color-font-preview;
            
        }
        &__b{
            width: 30px;
            height: 25px;
            background-color: $color-button-bar;
        }
        &__c{
            width: 30px;
            height: 25px;
            background-color: $color-round-icon;
        }
    }

    .rectangle-2{
        &__a{
            width: 30px;
            height: 25px;
            background-color: $color-font-preview-2;
        }
        &__b{
            width: 30px;
            height: 25px;
            background-color: $color-button-bar-2;
        }
        &__c{
            width: 30px;
            height: 25px;
            background-color: $color-round-icon-2;
        }
    }

    .rectangle-3{
        &__a{
            width: 30px;
            height: 25px;
            background-color: $color-font-preview-3;
        }
        &__b{
            width: 30px;
            height: 25px;
            background-color: $color-button-bar-3;
        }
        &__c{
            width: 30px;
            height: 25px;
            background-color: $color-round-icon-3;
        }
    }





