.main{
    background-color: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 36%);;
    @media all and (min-width: 768px){
        display: flex;
    }
}

.preview {
    padding-top: 38px;
    height: 55vh;
    background: linear-gradient(180deg, $background-card-2 0%, $background-card-1 36%);
    display: grid;
    flex-direction: column;
    justify-content: space-around;

}

.reset{
    width: 75px;
    height: 30px;
    margin-left: 45px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: $color-border-reset solid 1px;
    border-radius: 50px;
    &__button{
        border: none;
        background-color: transparent;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
    }
}

.card {
    width: 300px;
    height: 38vh;
    padding: 8px 0;
    margin: 20px 35px 40px 45px;
    background-color: $color-border-reset;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    margin-top: 20px;
    border-left: 5px solid $color-button-bar;
    font-weight: 600;
    margin-bottom: 10px;
}

.info p {
    padding-left: 20px;
    font-size: 18px;
}

.name {
    color: $color-font-preview;
    text-transform: capitalize;

}

.pic {
    height: 200px;
}

.rrss-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.rrss-item {

    border: 2px solid $color-round-icon;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.fa-xl {
    padding: 5px;
    color: $color-font-preview;
}