.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-border-reset;
  /*border: solid 1px $color-font-footer;*/
  width: 100vw;
  height: 110px;
  padding-bottom: 15px;
  padding-top: 15px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    height: 60px; 
    padding-left: 20px;
    
  }

  &__copyright {
    font-family: $font-main;
    font-size: 0.875;
    margin: 0 0 12px;
    line-height: 1.43;
    color: rgba($color-font, 0.5);

    @media all and (min-width: 768px) {
      margin: 0 10px;
    }
  }

  &__logo {
    width: 103px;
    height: 40px;
    margin: 12px 47px 0 48px;

    @media all and (min-width: 768px) {
      margin-left: auto;
    }
  }
}
